<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">eXgit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-responsive.css"/>
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }
    
          @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        </style>
        <!-- <script type="text/javascript" src="resources/js/bootstrap-modal.js"/> -->
        <link rel="stylesheet" href="resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"/>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
        <script type="text/javascript" src="resources/js/mergely/codemirror.js"/>
        <link type="text/css" rel="stylesheet" href="resources/js/mergely/codemirror.css"/>
        <script type="text/javascript" src="resources/js/mergely/mergely.js"/>
        <link type="text/css" rel="stylesheet" href="resources/js/mergely/mergely.css"/>
        <script type="text/javascript" src="resources/js/eXgit.js"/>
    </head>
    <body id="body">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand config:app-title" href="./index.html">eXgit</a>
                    <div id="user" class="nav-collapse collapse user:display"/>
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
    </body>
</html>